<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <script src="../public/vue.global.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>

    <body>
        <p id='header'>
            Home page
        </p>
        <!-- <a href="javascript:" onClick="window.open('http://www.bilibili.com')">布丁足迹</a> -->
        <hr>
        <p id='app'>
            <template v-if="showSearch">
                <div class="search-box">
                    <input type="text" placeholder="输入课程名" id="input" v-model='key' @keyup.enter='clickSearch' />
                    <button type="button" id="input-button" @click='clickSearch'>查找</button>
                    <button type="button" id="add-button" @click='clickAdd'>添加新课程</button>
                </div>

                <div id='form-box' v-if="showForm">
                    <div>
                        <div>课程修改</div>
                        <button @click.stop='clickCloseForm'>关闭</button>
                    </div>
                    <hr>
                    <div id='form-body'>
                        课程名：
                        <input type="text" v-model="putForm.name"/>
                        教师名：
                        <input type="text" v-model='putForm.teacher'/>
                        开课时间：
                        <input type="date" min="2017-01-01" max="2023-01-01" class="time" v-model='putForm.startTime'/>
                        结课时间：
                        <input type="date" min="2017-01-01" max="2023-01-01" class="time" v-model='putForm.endTime'/>
                        积分数：
                        <input type="number" v-model.number='putForm.price'/>
                        课程简介：
                        <textarea v-model='putForm.desc'></textarea>
                        图片地址：
                        <input type="text" v-model="putForm.image"/>
                    </div>
                    <button @click.stop='clickUpdateConfirm'>确认</button>
                </div>

            </template>
            <template v-for="(item, index) in list">
                <div class="item-box">
                    <img :src="item.image" class='item-img'>
                    <div class="item-info">
                        <div class='item-title'>{{ item.name }}</div>
                        <div>老师：{{ item.teacher }}</div>
                        <div>时间：{{ item.startTime }} ~ {{ item.endTime }}</div>
                        <div>预约人数：{{ item.currentNum }} / {{ item.total }}</div>
                        <div>简介：{{item.desc}}</div>
                    </div>
                    <div class="item-buttons">
                        <button type="button" id="update-button" @click='clickUpdate(item, $event)'>修改</button>
                        <button type="button" id="del-button" @click.stop='clickDel(item.id, index, $event)'>删除</button>
                    </div>
                </div>
            </template>
        </p>

        <script src="./index.js"></script>
    </body>

</html>
