html,body{
    height: 100%;
}
body{
    background-image:url('./image/background.png');
    background-size: 1519px 436px;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.loginbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: white;
}
.loginheader{
    /* align-content: center; */
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color:rgb(239,239,239);
    border-width: 3px;
}
.login{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.username{
    height: 30px;
    width: 65%;
    border-width: 1px;
    border-color: rgb(239,239,239);
    border-style: solid;
    border-radius: 5px;
    margin-left: 85px;
}
.userpwd{
    height: 30px;
    margin-top: 20px;
    width: 65%;
    border-width: 1px;
    border-color: rgb(239,239,239);
    border-style: solid;
    border-radius: 5px;
    margin-left: 85px;
}

input:focus{
    outline: none;
}
